<div style="padding: 20px;">
  <h2>Welcome to the About Page</h2>
  <p>Hi! My name is Michelle and I love cats :D</p>
  <img src="../img/pic.jpeg" alt="Michelle">
</div>

<!-- <%- include('layouts/header') %> -->
<!-- <%- include('layouts/navbar') %> -->
<!-- <%- include('layouts/footer') %> -->