<div style="padding: 20px;">
  <h2>Welcome to the Home Page</h2>
  <p>Hi, <%= nama%>. This is the main content of your home page.</p>
  
<!-- <%- include('layouts/header') %> -->
<!-- <%- include('layouts/navbar') %> -->
<!-- <%- include('layouts/footer') %> -->