<!-- 
  The following code represents the content of the About Page.
  - The <div> element contains a heading (<h2>), a paragraph (<p>), and an image (<img>).
  - The heading displays a welcome message.
  - The paragraph provides a brief introduction to the person named Michelle and mentions her love for cats.
  - The image tag includes a source ("../img/pic.jpeg") for an image of Michelle, and an alt attribute for accessibility.
-->
<div style="padding: 20px;">
    <h2>Welcome to the About Page</h2>
    <p>Hi! My name is Michelle and I love cats :D</p>
    <img src="../img/pic.jpeg" alt="Michelle">
</div>
  
  <!-- <%- include('layouts/header') %> -->
  <!-- <%- include('layouts/navbar') %> -->
  <!-- <%- include('layouts/footer') %> -->