<div style="padding: 20px; color: red">
    <h2>404 Not Found!</h2>
  </div>
  
  <!-- <%- include('layouts/header') %> -->
  <!-- <%- include('layouts/navbar') %> -->
  <!-- <%- include('layouts/footer') %> -->