.card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #89CFF0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #333;
  }
  
  input,
  textarea,
  select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Add a subtle border for better visibility */
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .firstName, .lastName, .notes{
    width: 100%; /* Make the input fields take full width */
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .submit-button, .reset-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make buttons take full width */
    margin-bottom: 10px;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  button[type="submit"] {
    background-color: #2ecc71;
    color: #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #27ae60;
  }
  
  button[type="reset"] {
    background-color: #e74c3c;
    color: #ffffff;
  }
  
  button[type="reset"]:hover {
    background-color: #c0392b;
  }
  
  pre {
    margin-top: 20px;
    padding: 10px;
    background-color: #2980b9;
    color: #ffffff;
    border-radius: 5px;
    overflow: auto;
  }